<h1>Editing video upload</h1>

<%= render "form", video_upload: @video_upload %>

<br>

<div>
  <%= link_to "Show this video upload", @video_upload %> |
  <%= link_to "Back to video uploads", video_uploads_path %>
</div>
